$siteContentMaxWidth: 1200px;
$spacing: 8px;

$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

$grey: #606060;

html {
    background-color: #e6e6e6;
}

body {
    margin: 0;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin: 0px;
    padding-inline-start: 4 * $spacing;
    @media (max-width: $sm) {
        padding-inline-start: 3 * $spacing;
    }
    @media (max-width: $xs) {
        padding-inline-start: 2.5 * $spacing;
    }
}

li {
    margin-bottom: $spacing;
}

em {
    color: $grey;
}

.page-section {
    display: flex;
    justify-content: center;

    &__inner {
        max-width: $siteContentMaxWidth;
        flex: 1 1 auto;
        // display: flex;
        // flex-direction: column;
        margin: $spacing * 2;

        @media (max-width: $xs) {
            margin: $spacing;
        }
    }
}

.site-content {
    flex: 1 0 auto;
}

.footer {
    border-top: 1px solid #b7b7b7;
    background-color: #f1f1f1;
    margin-top: 2 * $spacing;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.last-updated {
    margin-right: $spacing;
    display: flex;

    @media (max-width: $xs) {
        flex-direction: column;
    }

    span {
        margin-right: $spacing;
    }
}

.source-code-link {
    color: #ce2900;
    display: flex;
    align-items: center;
}
